In [3]:
import pandas as pd

In [38]:
df = pd.read_excel('data/Analytics Template for Exercise.xlsx', header=None)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
0,2021-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-31 00:00:00,Page Views,Page Views,Page Views,Page Views,Page Views,Page Views,Page Views,Page Views,Page Views,...,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site
2,Site ID,2021-01-01 00:00:00,2021-01-02 00:00:00,2021-01-03 00:00:00,2021-01-04 00:00:00,2021-01-05 00:00:00,2021-01-06 00:00:00,2021-01-07 00:00:00,2021-01-08 00:00:00,2021-01-09 00:00:00,...,2021-01-22 00:00:00,2021-01-23 00:00:00,2021-01-24 00:00:00,2021-01-25 00:00:00,2021-01-26 00:00:00,2021-01-27 00:00:00,2021-01-28 00:00:00,2021-01-29 00:00:00,2021-01-30 00:00:00,2021-01-31 00:00:00
3,site 1,6,4,4,10,7,6,5,6,9,...,13.3,22.6,15.7,8.4,14.2,3.3,10.4,3.7,11.5,11.9
4,NaN,Page Views,Page Views,Page Views,Page Views,Page Views,Page Views,Page Views,Page Views,Page Views,...,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site,Average Time Spent on Site

In [76]:
start_date = df.iloc[0, 0]
print('Start date is', start_date)
end_date = df.iloc[1, 0]
print('End date is', end_date)

#Get time delta +1 day which is first day
number_of_days = (end_date - start_date).days + 1
print('Number of days is', number_of_days)

Start date is 2021-01-01 00:00:00
End date is 2021-01-31 00:00:00
Number of days is 31

In [204]:
row_count = len(df)
column_count = len(df.columns)

frames = []  # Save each site dataframe
day_range = range(1, number_of_days + 1)  # Range of days based on date difference
date_range = pd.date_range(start=start_date, end=end_date)  # Range of dates generated from start to end

for i in range(0, row_count - 1, 3):
    tmp_df = pd.DataFrame({
        'Day of Month': day_range,  # Set day number range incrementally
        'Date': date_range,  # Set date range incrementally
        'Site ID': df.iloc[i + 3, 0],  # Get site id by index
    })
    for j in range(0, column_count - 1, number_of_days):
        curr_header = df.iloc[i + 1, j + 1] # Get current column header
        data = df.iloc[i + 3, j + 1:j + number_of_days + 1].values # Get row values for current attribute
        tmp_df[curr_header] = data # Set current column with respective values
    frames.append(tmp_df) # Save dataframe to list of dataframes
output_df = pd.concat(frames) # Concat all Sites into one DataFrame
output_df

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297

,Day of Month,Date,Site ID,Page Views,Unique Visitors,Total Time Spent,Visits,Average Time Spent on Site
0,1,2021-01-01,site 1,6,4,11,4,0.1
1,2,2021-01-02,site 1,4,2,14,2,0.1
2,3,2021-01-03,site 1,4,2,13,2,0.1
3,4,2021-01-04,site 1,10,7,268,7,1.5
4,5,2021-01-05,site 1,7,5,12,5,0.1
...,...,...,...,...,...,...,...,...
26,27,2021-01-27,site 100,34,18,466,18,1.1
27,28,2021-01-28,site 100,20,9,100,9,0.3
28,29,2021-01-29,site 100,33,18,95,18,0.2
29,30,2021-01-30,site 100,19,6,331,6,1.1
30,31,2021-01-31,site 100,11,5,35,5,0.1

In [119]:
len(df.columns)

156

In [118]:
number_of_days

31

In [80]:
155 / 31

5.0

In [81]:
for i in range(0, 155, 31):
    print(i)

0
31
62
93
124